/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

section{
    margin-top: 2em;
}

/*PRELOADER*/
.loader {
    width: 16rem;
    height: 2rem;
    padding: 2px 0;
    box-sizing: border-box;
    display: flex;
    animation: l5-0 3s infinite steps(6);
    background: linear-gradient(#000 0 0) 0 0/0% 100% no-repeat, radial-gradient(circle 3px,#eeee89 90%,#0000) 0 0/20% 100% #000;
    overflow: hidden;
}

.loader::before {
    content: "";
    width: 20px;
    transform: translate(-100%);
    border-radius: 50%;
    background: #ffff2d;
    animation: l5-1 .25s .153s infinite steps(5) alternate, l5-2 3s infinite linear;
}

@keyframes l5-1 {
    0% {
        clip-path: polygon(50% 50%,100% 0,100% 0,0 0,0 100%,100% 100%,100% 100%)
    }

    100% {
        clip-path: polygon(50% 50%,100% 65%,100% 0,0 0,0 100%,100% 100%,100% 35%)
    }
}

@keyframes l5-2 {
    100% {
        transform: translate(90px)
    }
}

@keyframes l5-0 {
    100% {
        background-size: 120% 100%,20% 100%
    }
}

.loader-container {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: black;
    display: grid;
    place-content: center;
}

.loader-container.hidden {
    opacity: 0;
    visibility: hidden;
}


/*NAVBAR*/
@keyframes gemAnimation {
    0% {
        stroke: #9966ff;
    }

    25% {
        stroke: #ff00ff;
    }

    50% {
        stroke: #800080;
    }

    75% {
        stroke: #702963;
    }

    100% {
        stroke: #9b30ff;
    }
}

#navGem {
    animation: gemAnimation 2s infinite alternate;
}

.cart-counter {
    width: 16px;
    height: 16px;
    background-color: white;
    top: -3px;
    left: 14px;
    border-radius: 50%;
    display: flex; /*none di default e flex quando c'è qualcosa nel carrello usare classi d-none e d-flex*/
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
}

/*CARDS*/
.card {
    --bs-card-bg: #ffffffb0;
    overflow: hidden;
    padding: 0;
}

.card:hover{
    box-shadow: 3px 5px 49px black;
}

.card-img-top{
    height: 100px;
    object-fit: cover;
}

.card-img-top:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

/*HERO SECTION*/
#hero {
    height: 50vh;
    overflow: hidden;
}

#hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(193 11 184 / 56%);
    z-index: -1;
}

#youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}

#heroText {
    font-family: "Anton", sans-serif;
    font-weight: bold;
    padding: 3em;
    color: gold;
}

/*EDITOR'S CHOICE SECTION*/
.editors-choice {
    background-image: url("./Images/editorschoice.jpg");
    background-size: cover;
}

/*SAVINGS SECTION*/
.savings {
    background-image: url("./Images/savings.jpg");
    background-size: cover;
}

/*CATEGORIES SECTION*/
.category-container{
    padding: 2rem 2rem;
    background-size: cover;
}
.videogames {
    background-image: url("./Images/videogames.jpg");
}

.console {
    background-image: url("./Images/console.jpg");
}

.accessories {
    background-image: url("./Images/accessories.jpg");
}

.category-link{
    color: white;
    font-weight: bold;
}

/*CAROUSEL*/
.carousel-pic {
    max-height: 300px;
    object-fit: cover;
}