@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap');

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}


/*VARIABLES*/
:root {
    --primary-color: #051923;
    --secondary-color: gold;
    --text-color: whitesmoke;
    --accent-color: #B503B2;
    --darker-accent-color: #451e62;
}

.text-smoke {
    color: var(--text-color);
}

.text-gold {
    color: var(--secondary-color) !important;
}

body {
    background: rgb(74,31,103);
    background: linear-gradient(59deg, rgba(74,31,103,1) 0%, rgba(5,25,35,1) 49%, rgba(83,2,79,1) 100%);
    font-family: "Lato", sans-serif;
}

.btn {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.btn-darker-accent {
    background-color: var(--darker-accent-color);
}


section {
    margin-top: 2em;
}

/*PRELOADER*/
.loader {
    width: 16rem;
    height: 2rem;
    padding: 2px 0;
    box-sizing: border-box;
    display: flex;
    animation: l5-0 3s infinite steps(6);
    background: linear-gradient(#000 0 0) 0 0/0% 100% no-repeat, radial-gradient(circle 3px,#eeee89 90%,#0000) 0 0/20% 100% #000;
    overflow: hidden;
}

.loader::before {
    content: "";
    width: 20px;
    transform: translate(-100%);
    border-radius: 50%;
    background: #ffff2d;
    animation: l5-1 .25s .153s infinite steps(5) alternate, l5-2 3s infinite linear;
}

@keyframes l5-1 {
    0% {
        clip-path: polygon(50% 50%,100% 0,100% 0,0 0,0 100%,100% 100%,100% 100%)
    }

    100% {
        clip-path: polygon(50% 50%,100% 65%,100% 0,0 0,0 100%,100% 100%,100% 35%)
    }
}

@keyframes l5-2 {
    100% {
        transform: translate(90px)
    }
}

@keyframes l5-0 {
    100% {
        background-size: 120% 100%,20% 100%
    }
}

.loader-container {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: black;
    display: grid;
    place-content: center;
}

.loader-container.hidden {
    opacity: 0;
    visibility: hidden;
}

/*ALERT*/
.alert{
    background-color: blueviolet;
    color: var(--text-color);
}

/*NAVBAR*/
nav {
    background: linear-gradient(59deg, rgba(74,31,103,1) 0%, rgba(5,25,35,1) 49%, rgba(83,2,79,1) 100%);
    z-index: 100;
}

.nav-link {
    color: var(--secondary-color)
}

@keyframes gemAnimation {
    0% {
        stroke: #9966ff;
    }

    25% {
        stroke: #ff00ff;
    }

    50% {
        stroke: #800080;
    }

    75% {
        stroke: #702963;
    }

    100% {
        stroke: #9b30ff;
    }
}

#navGem {
    animation: gemAnimation 2s infinite alternate;
}

.cart-counter {
    width: 16px;
    height: 16px;
    background-color: white;
    top: -3px;
    left: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
}

/*CARDS*/
.card {
    background-color: var(--primary-color);
    overflow: hidden;
    padding: 0;
}

.card:hover {
    transition: 0,3s;
    box-shadow: 3px 5px 49px var(--text-color);
}

.card-img-top {
    height: 160px;
    object-fit: cover;
}

.card-img-top:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

input {
    background: linear-gradient(59deg, rgba(74,31,103,1) 0%, rgba(5,25,35,1) 49%, rgba(83,2,79,1) 100%);
    color: var(--text-color);
    outline-color: blueviolet;
    border-color: blueviolet;
    border-radius: 20px;
    width: 100%;
    max-width: 200px;
}

input:focus {
    transition: 0.3s;
    outline-color: blueviolet;
    border-color: blueviolet;
    border-radius: 0px
}

.glow-on-hover {
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.glow-on-hover:hover:after {
    background: #111;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/*STARS*/

.star {
    fill: grey;
    transition: fill 0.2s;
    cursor: pointer;
}

.star:hover, .star.active {
    fill: gold;
}

/*HERO SECTION*/
#hero {
    height: 50vh;
    overflow: hidden;
}

#hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(79 4 77 / 46%);
    z-index: -1;
}

#youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}

#heroText {
    font-weight: bold;
    padding: 3em;
}

/*EDITOR'S CHOICE SECTION*/
/*.editors-choice {
    background-image: url("./Images/editorschoice.jpg");
    background-size: cover;
}*/

/*SAVINGS SECTION*/
/*.savings {
    background-image: url("./Images/savings.jpg");
    background-size: cover;
}*/

/*CATEGORIES SECTION*/
.category-container {
    padding: 2rem 2rem;
    background-size: cover;
}

.videogames {
    background-image: url("./Images/videogames.jpg");
}

.console {
    background-image: url("./Images/console.jpg");
}

.accessories {
    background-image: url("./Images/accessories.jpg");
}

.category-link {
    color: var(--secondary-color);
    font-weight: bold;
}

/*CAROUSEL*/
.carousel-pic {
    max-height: 300px;
    object-fit: cover;
}
