/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@keyframes gemAnimation {
    0% {
        stroke: #9966ff;
    }

    25% {
        stroke: #ff00ff;
    }

    50% {
        stroke: #800080;
    }

    75% {
        stroke: #702963;
    }

    100% {
        stroke: #9b30ff;
    }
}

#navGem {
    animation: gemAnimation 2s infinite alternate;
}

#hero {
    height: 70vh;
    overflow: hidden;
}

#hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(193 11 184 / 56%);
    z-index: -1;
}

#youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    transform: scale(2);
    object-fit: cover;
}

#heroText {
    font-family: "Anton", sans-serif;
    font-weight: bold;
    padding: 3em;
    color: gold;
}

.carousel-pic {
    max-height: 300px;
    object-fit: cover;
}
