@model PixelGemShop.Models.Reviews
@{
    ViewBag.Title = "AddReview";
}
<style>
.star {
    fill: grey;
    transition: fill 0.2s;
    cursor: pointer;
}

.star:hover, .star.active {
    fill: gold;
}
</style>

<h2>Add Review</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <input type="hidden" name="IdUser" value="@User.Identity.Name" />
    <input type="hidden" name="IdProduct" value="@ViewBag.ProductId" />
    <div class="rating">
        <svg class="star" viewBox="0 0 24 24" width="30" height="30" onclick="setRating(1)">
            <path d="M12 2 L15.09 8.26 L22 9.27 L17 14.14 L18.18 21.02 L12 17.77 L5.82 21.02 L7 14.14 L2 9.27 L8.91 8.26 L12 2"></path>
        </svg>
        <svg class="star" viewBox="0 0 24 24" width="30" height="30" onclick="setRating(2)">
            <path d="M12 2 L15.09 8.26 L22 9.27 L17 14.14 L18.18 21.02 L12 17.77 L5.82 21.02 L7 14.14 L2 9.27 L8.91 8.26 L12 2"></path>
        </svg>
        <svg class="star" viewBox="0 0 24 24" width="30" height="30" onclick="setRating(3)">
            <path d="M12 2 L15.09 8.26 L22 9.27 L17 14.14 L18.18 21.02 L12 17.77 L5.82 21.02 L7 14.14 L2 9.27 L8.91 8.26 L12 2"></path>
        </svg>
        <svg class="star" viewBox="0 0 24 24" width="30" height="30" onclick="setRating(4)">
            <path d="M12 2 L15.09 8.26 L22 9.27 L17 14.14 L18.18 21.02 L12 17.77 L5.82 21.02 L7 14.14 L2 9.27 L8.91 8.26 L12 2"></path>
        </svg>
        <svg class="star" viewBox="0 0 24 24" width="30" height="30" onclick="setRating(5)">
            <path d="M12 2 L15.09 8.26 L22 9.27 L17 14.14 L18.18 21.02 L12 17.77 L5.82 21.02 L7 14.14 L2 9.27 L8.91 8.26 L12 2"></path>
        </svg>
    </div>
    <input type="hidden" id="Rate" name="Rate" value="" />
    @Html.EditorFor(model => model.Description)
    <button type="submit" class="btn btn-info">Submit</button>
}

@section scripts {
    <script>
        const stars = document.querySelectorAll('.star')
        const ratings = document.querySelectorAll('.rating input');
        const ratingValueField = document.getElementById('Rate');

        function setRating(value) {
            ratingValueField.value = value;
            highlightStars(value);
        }

        function highlightStars(value) {
            const stars = document.querySelectorAll('.star');
            stars.forEach((star, index) => {
                if (index < value) {
                    star.classList.add('active');
                } else {
                    star.classList.remove('active');
                }
            });
        }
    </script>

}
