@model PixelGemShop.Models.Products

<main>
    @*TAG SEMANTICI HEADER, SECTION, ASIDE ECC.*@

    @*HERO*@
    <div id="hero" class="text-center position-relative d-flex justify-content-center align-items-center">
        <iframe src="https://www.youtube.com/embed/u7kdVe8q5zs?autoplay=1&mute=1&controls=0&fullscreen=1&start=15" id="youtube" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h1 id="heroText">"Unearth Gaming Gems at Pixel Gem Shop: Where Every Purchase is Sparkling Treasure!"</h1>
    </div>

    @*IN PRIMO PIANO*@
    <section>
        <div class="text-center editors-choice">
            <h2>Editor's Choice</h2>
        </div>
    </section>


    @*OFFERTE*@
    <section>
        <div class="savings">
            <h2>Savings Zone</h2>
        </div>
    </section>


    @*SHOP BY CATEGORIES*@
    <section>
        <h2>Shop by categories</h2>
        <div class="container text-center">
            <div class="row gap-2">
                <div class="category-container videogames col">
                    <a href="#" class="category-link">Videogames</a>
                </div>
                <div class="category-container console col">
                    <a href="#" class="category-link">Console</a>
                </div>
                <div class="category-container accessories col">
                    <a href="#" class="category-link">Accessories</a>
                </div>
            </div>
        </div>
    </section>


    @*Carousel*@
    <div id="carouselContainer" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <figure>
                    <img src="@Url.Content("~/Content/Images/carousel1.jpg")" class="carousel-pic d-block w-100" alt="CarouselImage1">
                </figure>
            </div>
            <div class="carousel-item">
                <figure>
                    <img src="@Url.Content("~/Content/Images/carousel2.jpg")" class="carousel-pic d-block w-100" alt="CarouselImage2">
                </figure>
            </div>
            <div class="carousel-item">
                <figure>
                    <img src="@Url.Content("~/Content/Images/carousel3.jpg")" class="carousel-pic d-block w-100" alt="CarouselImage3">
                </figure>
            </div>
            <div class="carousel-item">
                <figure>
                    <img src="@Url.Content("~/Content/Images/carousel4.jpg")" class="carousel-pic d-block w-100" alt="CarouselImage4">
                </figure>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselContainer" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselContainer" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>