@model PixelGemShop.Models.Products

<main>
    @*TAG SEMANTICI HEADER, SECTION, ASIDE ECC.*@
    @*Hero + slogan*@
    @*IN PRIMO PIANO*@
    @*OFFERTE*@
    @*SHOP BY CATEGORIES*@
        @*Carousel*@
        <div id="carouselContainer" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="@Url.Content("~/Uploads/carousel1.jpg")" class="carousel-pic d-block w-100" alt="..."> @*TODO: 3 banner link a categorie*@
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content("~/Uploads/carousel2.jpg")" class="carousel-pic d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content("~/Uploads/carousel3.jpg")" class="carousel-pic d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content("~/Uploads/carousel4.jpg")" class="carousel-pic d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselContainer" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselContainer" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
</main>